  .thankyou {
      padding: 2rem;
      min-height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;

      &__container {
          max-width: 800px;
          width: 100%;
          padding: 2rem;
          background-color: #fff;
          border-radius: 8px;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          transition: box-shadow 0.3s ease;

          &:hover {
              box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
          }
      }

      &__title {
          font-size: 2.5rem;
          text-align: center;
          margin-bottom: 2rem;
          color: #d0000b;
          transition: transform 0.3s ease;

          &:hover {
              transform: scale(1.02);
          }
      }

      &__content {
          margin-bottom: 2rem;
      }

      &__text {
          margin-bottom: 1.5rem;
          text-align: center;
          line-height: 1.6;
      }

      &__details {
          background-color: #f9f9f9;
          padding: 1.5rem;
          border-radius: 6px;
          transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;

          &:hover {
              transform: translateY(-5px);
              background-color: #f0f0f0;
          }
      }

      &__detail {
          margin-bottom: 1rem;
          font-size: 1.1rem;

          &:last-child {
              margin-bottom: 0;
          }
      }

      &__label {
          font-weight: bold;
          margin-right: 0.5rem;
          color: grey;
          transition: color 0.3s ease-in-out;

          &:hover {
              color: #d0000b;
          }
      }
  }